<div class="main-image">
	<ul class="main_slider">
		<li>
			<a href=""><img src="http://localhost/cleanlife/wp-content/uploads/2020/02/1200x800-5.png" class="img-responsive" alt="通常くじ"></a>
		</li>
		<li>
			<a href=""><img src="http://localhost/cleanlife/wp-content/uploads/2019/08/1200x800-2.png" class="img-responsive" alt="チャンネル会員限定くじ"></a>
		</li>
		<li>
			<a href=""><img src="http://localhost/cleanlife/wp-content/uploads/2020/02/1200x800-4.png" class="img-responsive" alt="チャンネル会員限定くじ"></a>
		</li>
	</ul>
</div><!-- main-image -->