<section id="infomation" class="block">
	<div class="container">
		<div class="row">
			<h1 class="text-center mgb30">Infomation</h1>
			<div class="col-sm-offset-1 col-sm-10 col-xs-12">
				<nav id="site-info">
					<div class="menu-footer_nav-container">
						<ul id="menu-footer_nav" class="footer-menu cf">
							<li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123">
								<a href="https://develop-test.xsrv.jp/sample_kuji_demo/contact/">お問い合わせ</a>
							</li>
						</ul>
					</div>					
				</nav>
			</div>
		</div>
	</div>
</section>